# Que interaction and startup script
commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_que.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      . /root/eb_env.sh

      QUE_PID=$EB_APP_PID_DIR/que.pid
      QUE_LOG=/dev/null

      if [ -f $QUE_PID ]
      then
        su -s /bin/bash -c "kill -TERM `cat $QUE_PID`" &> $QUE_LOG
        su -s /bin/bash -c "rm -rf $QUE_PID" &> $QUE_LOG
      fi
      sleep 1

      su -s /bin/bash --session-command "RAILS_ENV=production bundle exec que ./config/environment.rb &> $QUE_LOG & echo \$! > $QUE_PID" $EB_APP_USER
