# Que interaction and startup script
commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_que.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh
      QUE_PID=$EB_APP_PID_DIR/que.pid
      QUE_LOG=/dev/null
      cd $EB_APP_DEPLOY_DIR

      if [ -f $QUE_PID ]
      then
        su -s /bin/bash -c "kill -TERM `cat $QUE_PID`" &> $QUE_LOG
        su -s /bin/bash -c "rm -rf $QUE_PID" &> $QUE_LOG
      fi
      . /opt/elasticbeanstalk/support/envvars.d/sysenv
      sleep 1

      su -s /bin/bash --session-command "RAILS_ENV=production bundle exec que ./config/environment.rb &> $QUE_LOG & echo \$! > $QUE_PID" $EB_APP_USER
