files:
  "/etc/cron.d/mycron":
      mode: "000644"
      owner: root
      group: root
      content: |
        * * * * * root /usr/local/bin/myscript.sh


# * * * * * /bin/bash -l -c 'cd /Users/rh/coding/rails/tcal && bundle exec bin/rails runner -e production '\''User.enqueue_auto_syncs'\'' >> /home/rh/whenever_cron.log 2>&1'
