<div class="ui horizontal divider">
  Invites
</div>

<% if current_user.has_spare_invites? %>
  <p><em>Know another student who'd like this?</em></p>
<% end %>

<% @invitees.each_with_index do |user, i| %>
  <%= form_for user, html: { class: "ui form" }, url: invites_path do |f| %>
    <div class="field">
      <div class="ui fluid action input <%= "mini" if user.email %>">
        <%= f.email_field :email,
          placeholder: (User::SAMPLE_EMAILS[i] || "person@tcd.ie"),
          disabled: user.email
        %>
        <%# PUT #{"primary" unless user.email} in the class string when email delivers to notspam %>
        <%= f.button class: "ui icon button #{user.joined_at? ? "green" : "left labeled"} #{"mini" if user.email}", disabled: user.email do %>
          <% if user.joined_at? %>
            <i class="thumbs outline up icon"></i>
          <% elsif user.email %>
            Sent <i class="mail icon"></i>
          <% else %>
            Send <i class="send outline icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
