<div class="ui top attached message">
  <div class="header">
    Connect to MyTCD
  </div>
  <p>
    Required to get timetable events.<br>
    Read <a href="/about#how-does-tcal-get-my-timetable" target="_blank">"How does Tcal get my timetable"</a> for more information
  </p>
</div>
<%= form_for current_user, html: { class: "ui equal width bottom attached segment form" }, url: user_setup_step_path(step: "my_tcd"), method: :patch do |f| %>
  <div class="fields">
    <div class="field">
      <label>my.tcd.ie username</label>
      <%= f.text_field :my_tcd_username, autocapitalize: "off", placeholder: "#{current_user.my_tcd_username_estimate} or student number..." %>
    </div>
    <div class="field">
      <label>my.tcd.ie password</label>
      <%= f.password_field :my_tcd_password,
        placeholder: "Password#{ " (enter to change)" if current_user.my_tcd_password && current_user.my_tcd_login_success? }" %>
    </div>
  </div>
  <%= button_tag type: "submit", class: "ui labeled icon button primary" do %>
    <i class="sign in icon"></i>
    Login
  <% end %>
<% end %>
