<%= form_for current_user, html: { class: "ui equal width form" }, url: setup_user_path(step: "my_tcd"), method: :patch do |f| %>
  <div class="fields">
    <div class="field">
      <label>my.tcd.ie username</label>
      <%= f.text_field :my_tcd_username, placeholder: "Username" %>
    </div>
    <div class="field">
      <label>my.tcd.ie password</label>
      <%= f.password_field :my_tcd_password,
        placeholder: "Password" %>
    </div>
  </div>
  <%= button_tag type: "submit", class: "ui labeled icon button primary" do %>
    <i class="sign in icon"></i>
    Login
  <% end %>
<% end %>

<div class="ui piled segment">
  <h4 class="ui header">Disclaimer</h4>
  For this to work, your tcd details will be stored in the tcal database so that timetable access
  can be made ....
  make this accordian too :)
</div>
