<div class="ui grid stackable">
  <%= render layout: "info/what_is_tcal" do %>
    <div class="ui center aligned basic segment">
      <%= link_to "/auth/google_oauth2", class: "ui primary button fluid massive labeled icon" do %>
        <i class="google icon"></i> Login
      <% end %>
    </div>
    <div class="ui divider"></div>
    <div class="fb-like"
      data-href="https://www.facebook.com/tcaldotme"
      data-width="340"
      data-layout="standard"
      data-action="like"
      data-size="small"
      data-show-faces="true"
      data-share="true"></div>
  <% end %>
</div>
