<div class="ui error message thinner">
  <% if !current_user.tcd_email? %>
    <p>Tcal is <strong>only</strong> for <strong>@tcd.ie</strong> email address holders.</p>
  <% elsif current_user.blocked_as_staff_member? %>
    <div class="header">
      Sorry!
    </div>
    <p>
      <br>
      Dear <%= current_user.google_name %>,
      <br><br>
      Tcal was designed for undergraduate students only...
      <% if @staff && @staff.department.present? %>
        <br>
        Not staff from <%= @staff.department %>
      <% end %>

      <br><br>
      If you believe that this is incorrect, <a id="intercom_help" href="mailto:info@tcal.me" class="item">message us</a>.
    </p>
  <% end %>
</div>
