//custom Text colours
$text-colors: blue, green, orange, pink, purple, red, teal, yellow, black, grey, white;
@each $tc in $text-colors{
  .text.#{$tc}{
    color: #{$tc};
  }
}

//custom Hide/show mobile/desktop
/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden  {
    display: none !important;
  }
}

//custom semanticui list label
.ui.list .list > .item > .label-cell,
.ui.list > .item > .label-cell {
  display: table-cell;
  margin: 0em;
  vertical-align: top;
}

.ui.list .list > .item > .label-cell + .content,
.ui.list > .item > .label-cell + .content {
  display: table-cell;
  padding: 0 0 0 .5em;
  vertical-align: top;
}

.label .icon:last-child, .icon.no-right-margin {
  margin-right: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.site-header {
  position: relative;
}

//custom .container.text
.ui.container.text {
  font-size: 1em;
}

.message.thinner {
  padding: 0.7em 1em;
}

//message: bottom attached message colour fix
.ui.bottom.attached.green.message {
  background-color: #E5F9E7;
  color: #1EBC30;
  box-shadow: 0 0 0 1px #1EBC30 inset,0 0 0 0 transparent;
}

//form field padding even if last child
.ui.form .field:last-child, .ui.form .fields:last-child .field {
  margin-bottom: 1em;
}

// button bottom attached same border as segment
.ui.attached.basic.button {
  box-shadow: 0 0 0 1px #D4D4D5!important;
}

// https://github.com/Semantic-Org/Semantic-UI/issues/4342
.divider-column {
  position: relative;
  padding: 0 !important;
}

// other custom stuff
footer {
  color: grey;
}

.no-style-link {
  all: unset;
}

.upcoming_events {
  position: relative;
}

.main-container {
  position: relative;
  margin-top: 0 !important;
  padding-top: 1em;
}

.ui.attached.label.beta-label {
  position: absolute;
  border-top: none;
  border-right: none;
}

.ui.accordion.admin-accordion {
  margin-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// fix search result margins
.ui.search.admin-user-search {
  .results {
    width: 100%;
    .result {
      .image {
        width: initial;
      }
      .image+.content {
        margin: 0 4em 0 0;
      }
      .price {
        // color: initial;
        color: rgba(0,0,0,.4);
      }
    }
  }
}

.ui.bottom.attached.message {
  box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
}
