<div class="ui grid stackable">
  <div class="eight wide column">
    <%# render partial: "admin_panel" if current_user.is_admin? %>

    <div class="ui horizontal divider">Upcoming Events</div>
    <div class="upcoming_events" data-partial-path="<%= upcoming_events_user_path(id: @user_id_to_link) %>">
      <%# LOADED ASYNC render partial: "upcoming_events" %>
    </div>
    <div class="ui divider"></div>
    <%= render partial: "users/google_account_card" %>
  </div>
  <div class="eight wide column mobile only"><div class="ui divider"></div></div>
  <div class="eight wide column">
    <%= render partial: "users/sync_panel" %>
  </div>
</div>
