<p><b>
  <% if @inviter %>
    <%= @inviter.email %> invited you to use Tcal!
  <% else %>
    You've been invited to use Tcal!
  <% end %>
</b></p>

<% button_link = root_url(invitee_email: @user.email) %>

<%= link_to "Setup Tcal Now", button_link, class: "btn btn-primary", target: "_blank" %>

<hr>
<%= render partial: "info/what_is_tcal" %>

<hr>
<%= link_to "Use Tcal Now", button_link, class: "btn btn-primary", target: "_blank" %>
<p class="align-center">
  <br>
  <em>It's a quick, two step process!</em>
</p>
