<p><b>
  You've been invited to use Tcal!
</b></p>

<%= link_to "Setup Tcal Now", @call_to_action[:url], class: "btn btn-primary", target: "_blank" %>

<hr>
<%= render partial: "info/what_is_tcal" %>

<hr>
<%= link_to "Use Tcal Now", @call_to_action[:url], class: "btn btn-primary", target: "_blank" %>
<p class="align-center">
  <br>
  <em>It's a quick, two step setup!</em>
</p>
