<div class="eight wide column">
  <%= yield %>

  <h3><b>What is Tcal?</b></h3>
  <ul class="main-points">
    <li>Tcal <b>is not</b> another phone app.</li>
    <li>Tcal <b>is</b> a service which makes <b>your timetable</b> available in Google Calendar.</li>
    <li>Tcal keeps time and module <b>changes in sync</b>.</li>
  </ul>

  <h3><b>What's the point?</b></h3>
  <ul class="main-points">
    <li><b>iPhone</b> and <b>Android</b> come with a calendar app. Tcal makes use of it.</li>
    <li>Know what you have and where to go, <b>without even unlocking</b> your phone.</li>
    <li>Manage the rest of your busy, personal day/night schedule in your calendar alongside your college timetable.</li>
    <small><li>The MyDay app kinda sucks...</li></small>
  </ul>
</div>

<div class="eight wide column">
  <%# unless @is_mail %>
    <div class="ui column relaxed grid">
      <div class="two wide column">
      </div>
      <div class="divider-column">
        <div class="ui vertical divider">
          <i class="left quote icon"></i>
        </div>
      </div>
      <div class="fourteen wide column">
        <div class="ui comments">
          <% Testimonial.sample(2, defined?(current_user) && current_user).each do |testimonial| %>
            <div class="ui comment">
              <div class="content">
                <div class="text">
                  <strong>&ldquo;<%= testimonial[:message] %>&rdquo;</strong>
                </div>
                <div class="metadata">
                  – <%= testimonial[:name] %>,
                  <%= testimonial[:course] %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <p><br></p>
  <%# end %>
  <img class="ui fluid image" src="https://i.imgur.com/UdHwJt1.png" width="854">
  <p class="align-center">
    <small><br>...yes, it also works on Android (or any device that can connect to Google Calendar)</small>
  </p>
</div>
